body{
	font-family: "Helvetica",Arial,Verdana,sans-serif;
	background: lightblue url(logo1.png) bottom left no-repeat; 
	height: 420px;

}

#cont
{
	width: 80%;
	margin: 20px auto;
	padding: 10px;
	border: 1px solid #dcc;
	text-align: center;
	background:#eee;
}

#cont2
{
	width: 80%;
	margin: 50px auto 20px auto;
	padding: 10px;
	border: 1px solid #dcc;
	text-align: center;
	background:#eee;
	box-shadow: 0 0 100px rgba(255,255,100,0.3);


}
.item > input
{
	width: 100px;
}
.chico{
	width: 20px!important;
}

.chico2{
	width: 20px;
}

a{
	text-decoration: none;
	color: #000;
	cursor: default;
}

.logo{
	al
}