#tiempo_pronostico{
	text-align: left;
}
#WidgetClimaActual
{

}
.subpron
{
	background-color: #fff;
	margin: 5px 5px 5px 0;
	width: 90%;
	height: 120px;
	border-radius: 0 5px 5px 0;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
	display: inline-block;
	overflow: hidden;
	text-align: center;

}
.ConteImgEstado
{
	text-align: right;
	padding: 10px 10px 0 0; 
	width: 200px;
	height: 120px;
	background: #333 top left no-repeat;
	color: #fff;
	font-size: 18px;
	float: left;
	box-sizing:border-box;
	transition:all 0.3s;
}
.WidgetInfoExten
{

}
.RangoTemp
{
	color: #333;
	font-size: 12px;
}
.subpronInfo > .estado{
	margin-top: 10px;
	font-size: 21px;
	font-style: italic;

}
@media screen and (max-width:560px){
	.subpron{
		width: 100%;
		border-radius: 0 0 0 0;
	}
	.ConteImgEstado{
		width: 100px;
		background: #333 -51px 0;
	}
	.subpronInfo > .estado{
		font-size: 18px;
	}
}